@import "tailwindcss";

:root {
  --background: #FDFBF7; 
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #800020; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5c0017;
}